!!!5
html
  head
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript",src="src/ui-choices.js")
    script(type="text/javascript",src="app.js")
    style(type="text/css").
      html, body {
        margin: 0; padding: 20px; width: 100%; height: 100%
      }
      .sep {
        width: 100%; border-bottom: 1px dashed #ccc; margin: 10px;
      }
  body(ng-app="myapp",ng-controller="myctrl")
    h2 ui-choices example
    hr
    h4 Basic Button Group - Single Choice
    .row
      .col-sm-4
        choices(ng-model="fruit1")
          choice(value="banana") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="pitaya") Pitaya
        .sep
        h4 Your Choices:
        blockquote
          | {{fruit1}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices ng-model="fruit1">
              <choice value="banana"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr
    h4 Multiple Choice
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit2")
          choice(value="banana") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit2}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple ng-model="fruit2">
              <choice value="banana"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr
    h4 Multiple Choice with Default Values
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit3")
          choice(value="banana",active) Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit3}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple ng-model="fruit3">
              <choice value="banana" active> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr
    h4 Multiple Choice with Fallback Value
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit4")
          choice(value="banana",fallback, active) Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit4}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple ng-model="fruit4">
              <choice value="banana" fallback active> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr

    h4 Change Button Style
    .row
      .col-sm-4
        choices(multiple, btn-type="btn-danger", ng-model="fruit5")
          choice(value="banana",fallback, active, btn-type="btn-success") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit5}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple btn-type="btn-danger" ng-model="fruit5">
              <choice value="banana" fallback active btn-type="btn-success"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr

    h4 Use Array Instead of Hash
    .row
      .col-sm-4
        choices(multiple, data-type="array", btn-type="btn-danger", ng-model="fruit6")
          choice(value="banana",fallback, active, btn-type="btn-success") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit6}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple data-type="array" btn-type="btn-danger" ng-model="fruit6">
              <choice value="banana" fallback active btn-type="btn-success"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    hr
    br

    .row
      .col-sm-4
        h4 Customize Button Content
        choices(ng-model="fruit7")
          choice(value="banana",btn-type="btn-success")
            i.glyphicon.glyphicon-ok
            |  Banana
          choice(value="graphfruit",btn-type="btn-warning")
            i.glyphicon.glyphicon-exclamation-sign
            |  Graphfruit
          choice(value="Pitaya",btn-type="btn-danger")
            i.glyphicon.glyphicon-remove
            |  Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit7}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices ng-model="fruit7">
              <choice value="banana" btn-type="btn-success">
                <i class="glyphicon glyphicon-ok"></i> Banana
              </choice>
              <choice value="graphfruit" btn-type="btn-warning">
                <i class="glyphicon glyphicon-exclamation-sign"></i> Graphfruit
              </choice>
              <choice value="pitaya" btn-type="btn-danger">
                <i class="glyphicon glyphicon-remove"></i> Pitaya
              </choice>
          </choices>
    hr
    br

    .row
      .col-sm-4
        h4 Binding on Single Button
        choices(ng-model="fruit8")
          choice(value="banana",btn-type="btn-success",ng-model="isBananaChosen")
            i.glyphicon.glyphicon-ok
            |  Banana
          choice(value="graphfruit",btn-type="btn-warning")
            i.glyphicon.glyphicon-exclamation-sign
            |  Graphfruit
          choice(value="Pitaya",btn-type="btn-danger")
            i.glyphicon.glyphicon-remove
            |  Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit8}}
        h4 Is Banana Chosen?
        blockquote
          | {{isBananaChosen}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices ng-model="fruit8">
              <choice value="banana" btn-type="btn-success" ng-model="isBananaChosen">
                <i class="glyphicon glyphicon-ok"></i> Banana
              </choice>
              <choice value="graphfruit" btn-type="btn-warning">
                <i class="glyphicon glyphicon-exclamation-sign"></i> Graphfruit
              </choice>
              <choice value="pitaya" btn-type="btn-danger">
                <i class="glyphicon glyphicon-remove"></i> Pitaya
              </choice>
          </choices>
    hr
    br

    | This angular module 'ui-choices' is specific for bootstrap 3.0. Source code can be found at 
    a(href="http://github.com/zbryikt/ui-choices/") http://github.com/zbryikt/ui-choices/
