!!!5
html
  head
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript",src="src/ui-choices.js")
    script(type="text/javascript",src="app.js")
    style(type="text/css").
      html, body {
        margin: 0; padding: 20px; width: 100%; height: 100%
      }
  body(ng-app="myapp",ng-controller="myctrl")
    h2 ui-choices example
    h4 Basic Button Group - Single Choice
    hr
    choices(id="my-choice-1",ng-model="fruit1")
      choice(value="banana") Banana
      choice(value="graphfruit") Graphfruit
      choice(value="pitaya") Pitaya
    hr
    h4 Your Choices:
    blockquote
      | {{fruit1}}
    hr
    br

    h4 Multiple Choice
    hr
    choices(id="my-choice-2", multiple, ng-model="fruit2")
      choice(value="banana") Banana
      choice(value="graphfruit") Graphfruit
      choice(value="Pitaya") Pitaya
    hr
    h4 Your Choice:
    blockquote
      | {{fruit2}}
    hr
    br

    h4 Multiple Choice with Default Values
    hr
    choices(id="my-choice-3", multiple, ng-model="fruit3")
      choice(value="banana",active) Banana
      choice(value="graphfruit") Graphfruit
      choice(value="Pitaya") Pitaya
    hr
    h4 Your Choice:
    blockquote
      | {{fruit3}}
    hr
    br

    h4 Multiple Choice with Fallback Value
    hr
    choices(id="my-choice-4", multiple, ng-model="fruit4")
      choice(value="banana",fallback, active) Banana
      choice(value="graphfruit") Graphfruit
      choice(value="Pitaya") Pitaya
    hr
    h4 Your Choice:
    blockquote
      | {{fruit4}}
    hr
    br

    h4 Change Button Style
    hr
    choices(id="my-choice-5", multiple, btn-type="btn-danger", ng-model="fruit5")
      choice(value="banana",fallback, active) Banana
      choice(value="graphfruit") Graphfruit
      choice(value="Pitaya") Pitaya
    hr
    h4 Your Choice:
    blockquote
      | {{fruit5}}
    hr
    br

    | This angular module 'ui-choices' is specific for bootstrap 3.0. Source code can be found at 
    a(href="http://github.com/zbryikt/ui-choices/") http://github.com/zbryikt/ui-choices/
