!!!5
html
  head
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript",src="src/ui-choices.js")
    script(type="text/javascript",src="app.js")
    style(type="text/css").
      html, body {
        margin: 0; padding: 20px; width: 100%; height: 100%
      }
      .sep {
        width: 100%; border-bottom: 1px dashed #ccc; margin: 10px;
      }
  body(ng-app="myapp",ng-controller="myctrl")
    h2 ui-choices example
    hr
    h4 Basic Button Group - Single Choice
    .row
      .col-sm-4
        choices(ng-model="fruit1")
          choice(value="banana") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="pitaya") Pitaya
        .sep
        h4 Your Choices:
        blockquote
          | {{fruit1}}
      .col-sm-8
        h4 Source Code
        pre.
          &lt;choices ng-model="fruit1"&gt;
              &lt;choice value="banana"&gt; Banana &lt;/choice&gt;
              &lt;choice value="graphfruit"&gt; Graphfruit &lt;/choice&gt;
              &lt;choice value="pitaya"&gt; Pitaya &lt;/choice&gt;
          &lt;/choices&gt;
    br
    hr
    h4 Multiple Choice
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit2")
          choice(value="banana") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit2}}
      .col-sm-8
        h4 Source Code
        pre.
          &lt;choices multiple ng-model="fruit2"&gt;
              &lt;choice value="banana"&gt; Banana &lt;/choice&gt;
              &lt;choice value="graphfruit"&gt; Graphfruit &lt;/choice&gt;
              &lt;choice value="pitaya"&gt; Pitaya &lt;/choice&gt;
          &lt;/choices&gt;
    br
    hr
    h4 Multiple Choice with Default Values
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit3")
          choice(value="banana",active) Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit3}}
      .col-sm-8
        h4 Source Code
        pre.
          &lt;choices multiple ng-model="fruit3"&gt;
              &lt;choice value="banana" active&gt; Banana &lt;/choice&gt;
              &lt;choice value="graphfruit"&gt; Graphfruit &lt;/choice&gt;
              &lt;choice value="pitaya"&gt; Pitaya &lt;/choice&gt;
          &lt;/choices&gt;
    br
    hr
    h4 Multiple Choice with Fallback Value
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit4")
          choice(value="banana",fallback, active) Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit4}}
      .col-sm-8
        h4 Source Code
        pre.
          &lt;choices multiple ng-model="fruit4"&gt;
              &lt;choice value="banana" fallback active&gt; Banana &lt;/choice&gt;
              &lt;choice value="graphfruit"&gt; Graphfruit &lt;/choice&gt;
              &lt;choice value="pitaya"&gt; Pitaya &lt;/choice&gt;
          &lt;/choices&gt;
    br
    hr
    h4 Change Button Style
    .row
      .col-sm-4
        choices(multiple, btn-type="btn-danger", ng-model="fruit5")
          choice(value="banana",fallback, active, btn-type="btn-success") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit5}}
      .col-sm-8
        h4 Source Code
        pre.
          &lt;choices multiple btn-type="btn-danger" ng-model="fruit5"&gt;
              &lt;choice value="banana" fallback active btn-type="btn-success"&gt; Banana &lt;/choice&gt;
              &lt;choice value="graphfruit"&gt; Graphfruit &lt;/choice&gt;
              &lt;choice value="pitaya"&gt; Pitaya &lt;/choice&gt;
          &lt;/choices&gt;
    br
    hr

    h4 Use Array Instead of Hash
    .row
      .col-sm-4
        choices(multiple, data-type="array", btn-type="btn-danger", ng-model="fruit6")
          choice(value="banana",fallback, active, btn-type="btn-success") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit6}}
      .col-sm-8
        h4 Source Code
        pre.
          &lt;choices multiple data-type="array" btn-type="btn-danger" ng-model="fruit6"&gt;
              &lt;choice value="banana" fallback active btn-type="btn-success"&gt; Banana &lt;/choice&gt;
              &lt;choice value="graphfruit"&gt; Graphfruit &lt;/choice&gt;
              &lt;choice value="pitaya"&gt; Pitaya &lt;/choice&gt;
          &lt;/choices&gt;
    hr
    br

    .row
      .col-sm-4
        h4 Customize Button Content
        choices(ng-model="fruit7")
          choice(value="banana",btn-type="btn-success")
            i.glyphicon.glyphicon-ok
            |  Banana
          choice(value="graphfruit",btn-type="btn-warning")
            i.glyphicon.glyphicon-exclamation-sign
            |  Graphfruit
          choice(value="Pitaya",btn-type="btn-danger")
            i.glyphicon.glyphicon-remove
            |  Pitaya
        .sep
        h4 Your Choice:
        blockquote
          | {{fruit7}}
      .col-sm-8
        h4 Source Code
        pre.
          &lt;choices ng-model="fruit7"&gt;
              &lt;choice value="banana" btn-type="btn-success"&gt;
                &lt;i class="glyphicon glyphicon-ok"&gt;&lt;/i&gt; Banana
              &lt;/choice&gt;
              &lt;choice value="graphfruit" btn-type="btn-warning"&gt;
                &lt;i class="glyphicon glyphicon-exclamation-sign"&gt;&lt;/i&gt; Graphfruit
              &lt;/choice&gt;
              &lt;choice value="pitaya" btn-type="btn-danger"&gt;
                &lt;i class="glyphicon glyphicon-remove"&gt;&lt;/i&gt; Pitaya
              &lt;/choice&gt;
          &lt;/choices&gt;
    hr
    br

    | This angular module 'ui-choices' is specific for bootstrap 3.0. Source code can be found at 
    a(href="http://github.com/zbryikt/ui-choices/") http://github.com/zbryikt/ui-choices/
