!!!5
html
  head
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript",src="src/ui-choices.js")
    script(type="text/javascript",src="app.js")
    style(type="text/css").
      html, body {
        margin: 0; padding: 20px; width: 100%; height: 100%
      }
      body {
        background: url(fabric.png) #fbfbfb;
      }
      blockquote {
        width: 100%;
        min-height: 69px;
        border: 1px solid #ccc;
        border-left: 5px solid #ccc;
        overflow: scroll;
        border-radius: 8px;
        background: rgba(255,255,255,0.7);
      }
      pre {
        background: rgba(255,255,255,0.8);
      }
      .sep {
        width: 100%; border-bottom: 1px dashed #ccc; margin: 10px;
      }
      .btn-list {
        display: block;
        clear: both; background: none;
        border: none; color: #000;
        box-shadow: none!important;
      }
      .btn-list:before {
        display: inline-block;
        width: 13px; height: 13px;
        border-radius: 7px;
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
        margin: 2px 3px 0 0;
        veretical-align: text-top;
        content: " ";
      }
      .btn-list.active { box-shadow: none; }
      .btn-list.active:before { background: #092; }
      .footer {min-height: 40px;}
  body(ng-app="myapp",ng-controller="myctrl")
    a(href="https://github.com/zbryikt/ui-choices")
      img(style="position: fixed; z-index: 9999; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png",alt="Fork me on GitHub")

    img(src="logo.png",style="float: left")
    h1 ui-choices
    | angularjs binding for bootstrap-style button group
    hr
    h4 Abstract
    | This angular module 'ui-choices' help you build up button groups in simple direcitve. It follows bootstrap 3.0 button css class naming, so you can directly use bootstrap.css to style your buttons. ui-choices also provides 
    a(href="https://raw.github.com/zbryikt/ui-choices/master/src/ui-choices.css") a css file
    |  ( compiled from 
    a(href="https://raw.github.com/zbryikt/ui-choices/master/src/ui-choices.sass") a sass file
    |  ) that can be used independently to any other frameworks. Source code can be found at 
    a(href="http://github.com/zbryikt/ui-choices/") http://github.com/zbryikt/ui-choices/
    | . Here shows some examples about how to use ui-choices in various ways.
    br
    br
    hr
    h4 0. Preparation
    | Include angular.js, 
    a(href="https://raw.github.com/zbryikt/ui-choices/master/src/ui-choices.js") ui-choices.js
    |  and bootstrap.css ( or 
    a(href="https://raw.github.com/zbryikt/ui-choices/master/src/ui-choices.css") ui-choices.css
    |  as an alternative ):
    br
    br
    pre.
      <head>
        ...
        <link rel="stylesheet" type="text/css" href="your-path-to/ui-choices.css"/>
        <script type="text/javascript" src="your-path-to/angular.js"></script>
        <script type="text/javascript" src="your-path-to/ui-choices.js"></script>
        ...
      </head>
    br
    hr
    h4 1. Basic Button Group - Single Choice
    .row
      .col-sm-4
        choices(ng-model="fruit1")
          choice(value="banana") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="pitaya") Pitaya
        .sep
        h5 Your Choices:
        blockquote
          | {{fruit1}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices ng-model="fruit1">
              <choice value="banana"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr
    h4 2. Multiple Choice
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit2")
          choice(value="banana") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h5 Your Choice:
        blockquote
          | {{fruit2}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple ng-model="fruit2">
              <choice value="banana"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr
    h4 3. Multiple Choice with Default Values
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit3")
          choice(value="banana",active) Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h5 Your Choice:
        blockquote
          | {{fruit3}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple ng-model="fruit3">
              <choice value="banana" active> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr
    h4 4. Multiple Choice with Fallback Value
    .row
      .col-sm-4
        choices(multiple, ng-model="fruit4")
          choice(value="banana",fallback, active) Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h5 Your Choice:
        blockquote
          | {{fruit4}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple ng-model="fruit4">
              <choice value="banana" fallback active> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr

    h4 5. Change Button Style
    .row
      .col-sm-4
        choices(multiple, btn-type="btn-danger", ng-model="fruit5")
          choice(value="banana",fallback, active, btn-type="btn-success") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h5 Your Choice:
        blockquote
          | {{fruit5}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple btn-type="btn-danger" ng-model="fruit5">
              <choice value="banana" fallback active btn-type="btn-success"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr

    h4 6. Use Array Instead of Hash
    .row
      .col-sm-4
        choices(multiple, data-type="array", btn-type="btn-danger", ng-model="fruit6")
          choice(value="banana",fallback, active, btn-type="btn-success") Banana
          choice(value="graphfruit") Graphfruit
          choice(value="Pitaya") Pitaya
        .sep
        h5 Your Choice:
        blockquote
          | {{fruit6}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices multiple data-type="array" btn-type="btn-danger" ng-model="fruit6">
              <choice value="banana" fallback active btn-type="btn-success"> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
    br
    hr

    .row
      .col-sm-4
        h4 7. Customize Button Content
        choices(ng-model="fruit7")
          choice(value="banana",btn-type="btn-success")
            i.glyphicon.glyphicon-ok
            |  Banana
          choice(value="graphfruit",btn-type="btn-warning")
            i.glyphicon.glyphicon-exclamation-sign
            |  Graphfruit
          choice(value="Pitaya",btn-type="btn-danger")
            i.glyphicon.glyphicon-remove
            |  Pitaya
        .sep
        h5 Your Choice:
        blockquote
          | {{fruit7}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices ng-model="fruit7">
              <choice value="banana" btn-type="btn-success">
                <i class="glyphicon glyphicon-ok"></i> Banana
              </choice>
              <choice value="graphfruit" btn-type="btn-warning">
                <i class="glyphicon glyphicon-exclamation-sign"></i> Graphfruit
              </choice>
              <choice value="pitaya" btn-type="btn-danger">
                <i class="glyphicon glyphicon-remove"></i> Pitaya
              </choice>
          </choices>
    br
    hr

    .row
      .col-sm-4
        h4 8. Binding on Single Button
        choices(ng-model="fruit8")
          choice(value="banana",btn-type="btn-success",ng-model="isBananaChosen")
            i.glyphicon.glyphicon-ok
            |  Banana
          choice(value="graphfruit",btn-type="btn-warning")
            i.glyphicon.glyphicon-exclamation-sign
            |  Graphfruit
          choice(value="Pitaya",btn-type="btn-danger")
            i.glyphicon.glyphicon-remove
            |  Pitaya
        .sep
        h5 Your Choice:
        blockquote
          | {{fruit8}}
        h5 Is Banana Chosen?
        blockquote
          | {{isBananaChosen}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices ng-model="fruit8">
              <choice value="banana" btn-type="btn-success" ng-model="isBananaChosen">
                <i class="glyphicon glyphicon-ok"></i> Banana
              </choice>
              <choice value="graphfruit" btn-type="btn-warning">
                <i class="glyphicon glyphicon-exclamation-sign"></i> Graphfruit
              </choice>
              <choice value="pitaya" btn-type="btn-danger">
                <i class="glyphicon glyphicon-remove"></i> Pitaya
              </choice>
          </choices>
    br
    hr

    .row
      .col-sm-4
        h4 9. Styling: Questionnaire
        div(style="border: 1px solid #ccc;border-radius: 8px;padding: 15px;background: rgba(255,255,255,0.8);")
          h5 1. Which one is your favorite fruit?
          choices(ng-model="fruit9.q1", btn-type="btn-list")
            choice(value="banana",fallback) Banana
            choice(value="graphfruit") Graphfruit
            choice(value="Pitaya") Pitaya
          h5 2. Which one is your favorite food?
          choices(ng-model="fruit9.q2", btn-type="btn-list")
            choice(value="sandwich",fallback) Sandwich
            choice(value="steak") Steak
            choice(value="hamburger") Hamburger
          h5 3. Are you a vegetarian?
          choices(ng-model="fruit9.q3", btn-type="btn-list")
            choice(value="yes",fallback) Yes
            choice(value="no") No

        .sep
        h5 Your Choice:
        blockquote
          | {{fruit9}}
      .col-sm-8
        h4 Source Code
        pre.
          <choices ng-model="fruit9.q1" btn-type="btn-list">
              <choice value="banana" fallback> Banana </choice>
              <choice value="graphfruit"> Graphfruit </choice>
              <choice value="pitaya"> Pitaya </choice>
          </choices>
          ... (ignored)
        h4 Stylesheet
        pre.
          .btn-list {
            display: block;
            clear: both; background: none;
            border: none; color: #000;
            box-shadow: none!important;
          }
          .btn-list:before {
            display: inline-block;
            width: 13px; height: 13px;
            border-radius: 7px;
            border: 1px solid rgba(0,0,0,0.5);
            box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
            margin: 2px 3px 0 0;
            veretical-align: text-top;
            content: " ";
          }
          .btn-list.active { box-shadow: none; }
          .btn-list.active:before { background: #092; }
    | ( * the 'btn-list' class is included in ui-choices.css )
    br
    br
    hr

    h4 10. Single Toggle Button
    .row
      .col-sm-4
        toggle.btn-success(ng-model="fruit10",active) I love Fruit
        .sep
        h5 Button Toggled?:
        blockquote
          | {{fruit10}}
      .col-sm-8
        h4 Source Code
        pre.
          <toggle class="btn-primary" ng-model="fruit10"/>
    hr
    .footer
